body {
  animation: changeBg 15s infinite;
}

@keyframes changeBg {
  0% {
    background-color: #ee6055;
  }
  20% {
    background-color: #60d394;
  }
  40% {
    background-color: #aaf683;
  }
  60% {
    background-color: #ffd97d;
  }
  80% {
    background-color: #ff9b85;
  }
  100% {
    background-color: #ee6055;
  }
}
