img {
  width: 45%;
  height: 50vh;
  margin: auto;
  display: block;
  cursor: pointer;
  border-radius: 15px;

  filter: grayscale(100%);
  transition: filter 300ms;
}

img:is(:hover, :focus) {
  filter: grayscale(0%);
}
